body { 
    margin: 123px 123px 0 0;
    overflow-x: scroll;
}
p {
    text-align: center;
    margin: 0;
    font-family: monospace;
    font-size: 8pt;
}
b {
    width: 3em; 
    text-align: center; 
    display: inline-block;
    margin-left: 3em;
}